<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>AdminLTE 3 | DataTables</title>

    <!-- Google Font: Source Sans Pro -->
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">
    <!-- Font Awesome -->
    <link href="~/adminlte-3.2.0/docs/assets/plugins/fontawesome-free/css/all.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link href="~/adminlte-3.2.0/plugins/datatables-bs4/css/datatables.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/adminlte-3.2.0/plugins/datatables-responsive/css/responsive.bootstrap4.min.css" rel="stylesheet" />
    <link href="~/adminlte-3.2.0/plugins/datatables-buttons/css/buttons.bootstrap4.min.css" rel="stylesheet" />
    <!-- Theme style -->
    <link href="~/adminlte-3.2.0/dist/css/adminlte.min.css" rel="stylesheet" />
    <link href="~/adminlte-3.2.0/plugins/chart.js/chart.min.css" rel="stylesheet" />
    <!-- SweetAlert -->
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <link href="~/adminlte-3.2.0/plugins/toastr/toastr.min.css" rel="stylesheet" />
    @RenderSection("HeaderScript", required:false)
</head>
<body class="hold-transition sidebar-mini">
    <div class="wrapper">
        <!-- Navbar -->
        @await Html.PartialAsync("~/Views/Shared/NavBarSection.cshtml")
        <!-- /.navbar -->
        <!-- Main Sidebar Container -->
        @await Html.PartialAsync("~/Views/Shared/SideBarSection.cshtml")


        <!-- Content Wrapper. Contains page content -->
        <div class="content-wrapper">
            <!-- Content Header (Page header) -->
            <section class="content-header">
                
            </section>

            <!-- Main content -->
            @RenderBody()
            <!-- /.content -->
        </div>
        <!-- /.content-wrapper -->
        <footer class="main-footer">
            <div class="float-right d-none d-sm-block">
                <b>Version</b> 3.2.0
            </div>
            <strong>Copyright &copy; 2014-2021 <a href="https://adminlte.io">AdminLTE.io</a>.</strong> All rights reserved.
        </footer>

        <!-- Control Sidebar -->
        <aside class="control-sidebar control-sidebar-dark">
            <!-- Control sidebar content goes here -->
        </aside>
        <!-- /.control-sidebar -->
    </div>
    <!-- ./wrapper -->
    <!-- jQuery -->
    <script src="~/adminlte-3.2.0/plugins/jquery/jquery.min.js"></script>
    <!-- Bootstrap 4 -->
    <script src="~/adminlte-3.2.0/plugins/bootstrap/js/bootstrap.bundle.min.js"></script>
    <!-- DataTables  & Plugins -->
    <script src="~/adminlte-3.2.0/plugins/datatables/jquery.datatables.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/dataTables.responsive.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/jszip/jszip.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/pdfmake.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/pdfmake/vfs_fonts.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.print.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>
    <!-- jquery-validation -->
    <script src="~/adminlte-3.2.0/plugins/jquery-validation/jquery.validate.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/jquery-validation/additional-methods.min.js"></script>
    <!-- AdminLTE App -->
    <script src="~/adminlte-3.2.0/dist/js/adminlte.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/chart.js/chart.min.js"></script>
    <script src="~/adminlte-3.2.0/plugins/toastr/toastr.min.js"></script>
    <!-- AdminLTE for demo purposes -->
    @* <script src="~/adminlte-3.2.0/dist/js/demo.js"></script> *@
    <!-- Page specific script -->
    <script>
        $(function () {
            $("#example1").DataTable({
                "responsive": true, "lengthChange": false, "autoWidth": false,
                "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
            }).buttons().container().appendTo('#example1_wrapper .col-md-6:eq(0)');
            $('#example2').DataTable({
                "paging": true,
                "lengthChange": false,
                "searching": false,
                "ordering": true,
                "info": true,
                "autoWidth": false,
                "responsive": true,
            });
        });

        $(document).ready(function () {
            if ('@ViewBag.data' != null) {
                $('#' + '@ViewBag.data').addClass('menu-open');
            }
        });
    </script>

    @RenderSection("Script")
</body>
</html>
